*.rs            text    eol=lf
*.toml          text    eol=lf
*.json          text    eol=lf

Cargo.lock      text    eol=lf
LICENSE         text    eol=lf
.gitattributes  text    eol=lf
.gitignore      text    eol=lf
